.leaflet-control-hillshade{
  z-index: 999 !important;

  a.leaflet-control-hillshade-button{
    background: url(icon.svg) no-repeat 0 0;
    background-size: 26px 26px;
    border-radius: 2px;
  }

  div.hillshade-panel{ display: none; }

  .open{
    a.leaflet-control-hillshade-button{
      display: none;
    }

    div.hillshade-panel{
      display: block;
    }
  }
}
.leaflet-touch .leaflet-control-hillshade a {
  background-position: 2px 2px;
}
